<div
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <form (ngSubmit)="login()" class="text-center w-100 mx-5">
    <fa-icon
      [ngStyle]="{ color: 'blue' }"
      [icon]="faCircleUser"
      class="iconSize"
    ></fa-icon>
    <div class="p-2 text-center">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-success">Anmelden</button>
  </form>
</div>
