<app-header></app-header>
<div class="container-fluid">
  <h4 *ngIf="this.optionen !== undefined">{{ this.optionen.starttext }}</h4>

  <div class="row">
    <div class="col-3" id="filter">
      <div>
        <form>
          <input type="radio" id="archiv" name="filter" value="archiv" />
          <label for="archiv" (click)="setFilter('archiv')">ARCHIV</label><br />

          <input type="radio" id="deleted" name="filter" value="deleted" />
          <label for="deleted" (click)="setFilter('deleted')">DELETED</label
          ><br />

          <input type="radio" id="erledigt" name="filter" value="erledigt" />
          <label for="erledigt" (click)="setFilter('erledigt')">ERLEDIGT</label
          ><br />

          <input type="radio" id="activ" name="filter" value="activ" />
          <label for="activ" (click)="setFilter('activ')">ACTIV</label><br />
        </form>
      </div>
    </div>
    <div
      class="col-9 p-0 text-align-center"
      *ngIf="this.optionen !== undefined"
      [ngStyle]="{ 'background-color': this.optionen.hgfarbe }"
    >
      <div *ngIf="this.optionen !== undefined">
        <div *ngFor="let entry of entries">
          <app-entry
            *ngIf="
              (this.filterBy == entry.status && entry.erledigt == 0) ||
              (this.filterBy == 'erledigt' &&
                entry.erledigt == 1 &&
                entry.status != 'deleted')
            "
            [entry]="entry"
            (dataEvent)="receiveDataFromChild($event)"
          ></app-entry>
        </div>
      </div>
    </div>

    <div class="row" id="formdiv">
      <div *ngIf="this.entry !== undefined">
        {{ this.entry.id }}
        <form (ngSubmit)="submitEntry()">
          <label for="date"></label>

          <input
            type="date"
            id="date"
            name="date"
            [(ngModel)]="entry.date"
            required
          />

          <label for="text"></label>

          <input
            type="text"
            id="text"
            name="text"
            placeholder="todo"
            [(ngModel)]="entry.text"
            required
          />

          <label for="priority"></label>

          <select name="priority" id="priority" [(ngModel)]="entry.priority">
            <option value="0">Grün</option>
            <option value="1">Gelb</option>
            <option value="2">Rot</option>
          </select>

          <button type="submit">Aufbewahren</button>
        </form>
      </div>
      <fa-icon (click)="addNew()" [icon]="faAdd"></fa-icon>
    </div>
  </div>
</div>
